@using Microsoft.AspNetCore.Components.Authorization
@using ManageInventoryNET.Shared

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <NotAuthorized>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>You are not authorized to view this page. <a href="/login">Login</a></p>
                </LayoutView>
            </NotAuthorized>
            <Authorizing>
                <LayoutView Layout="@typeof(MainLayout)">
                    <p>Authorizing...</p>
                </LayoutView>
            </Authorizing>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
@code {
    // This component sets up the routing for the application.
    // It uses AuthorizeRouteView to handle authorization for routes.
    // If a user is not authorized, it shows a message with a link to login.
    // If the route is being authorized, it shows an "Authorizing..." message.
}